{
  "presets": [
    ["@babel/preset-env",
    {
        "targets": {
          "node": "14"
        }
      }]
  ],
  "plugins": [
    ["@babel/plugin-syntax-class-properties"],
    "istanbul",
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}
